/* == wiky == */

*.wiki blockquote { background:#ddd; border:solid 1px #999; margin-left:1em; padding:0.5em;}
*.wiki table {
  border-collapse: collapse;
  empty-cells: show;
}

*.wiki table td {
  border: solid 1px black;
  padding: 0.25em 0.5em 0.25em 0.5em;
  text-align: center;
}

div.main_content { margin-left: 5px; text-align:left; font-size: 12px;} 

/* pre { font-size:100%; background: #eed; border:1px dotted #999; padding:0 0.5em; overflow:auto; } */
pre { font-family: monospace, courier new; overflow:auto; margin-left: 5em; }

div.help { text-align: left; font-size: 10px; background: #eed; border:1px dotted #999; padding: 0 0.5em; overflow: auto; }

div.top { background: #ddb; } 

h2 { background: #eed; } 
h3 { background: #eed; } 
