tr.white-main td {
    white-space: nowrap;
}
td div.nofield {
    text-align: center;
    background: #CCCCCC;
}
td div.nullfield {
    color: #CCCCCC;
    font-style: italic;
}
/* mass reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}


body {
	background-color: #ffffff;
	font-family: helvetica, arial, sans-serif;
	background-image:url(img/header_back.gif);
	background-repeat: repeat-x;
	background-color: #ffffff;
}

div, p, ul, ol {
	font-size: 100%;
}

h2, h3, h4, p, ul, ol, dl {
	margin-bottom: 1em;
}

h1 {
	margin:0;
	padding:0;
	font-size: 148%;
	color: #333333;
	font-weight: normal;
}

h2 {
	font-size: 131%;
	padding-top: 1em;
}

h3 {
	font-size: 108%;
	padding-top: 1em;
}

h4 {
	font-size: 100%;
	padding-top: 1em;
}

p, .help {
	padding: 0em 0px 1em 0px;
	line-height: 1.5em;
	color:#333333;
}

hr {
	margin: 2em 0 2em 0;
	border: 0;
	width: 100%;
	color: #ded5b3;
	background-color: #ded5b3;
	height: 1px;
}

td {
    padding:0;
}

div.hr hr {
	display: none;
}

ul, ol {position: relative; }

ul, ol {
	margin-left: 16px;
	line-height: 1.5em;
}

li {
  padding-left: 16px;
  list-style-type: none;
  background-image: url(list_bullet_orange.gif);
  background-repeat: no-repeat;
}

li ul, li ol {
	margin-left: 0px;
	padding-bottom:0;
}

a, a:visited {
	font-size: 11px;
	color: #2c65af;
	text-decoration: none;
	font-weight:normal;
}

a:hover {
	color: #0f2659;
}

a#active {
	color: #2c65af;
}

img {
	border: none;
}

/* Header */

.blhd-left {
	float: left;
	padding: 5px 50px 5px 75px;
}

.blhd-center {
	padding-top: 19px;
}

/* Tabs */

#navcontainer {
	margin-left: 40px;
	padding-top: 19px;
}

#navcontainer ul {
	margin: 0;
	padding: 0;
}

#navcontainer ul li {
	float: left;
	margin: 0 1.5em;
	padding: 0 0 0 0;
	height: 24px;
}

#navcontainer ul li.active {
	margin: 0 .5em;
	padding: 0 0 0 .95em;
	background:url(img/header_tab_active_left.gif) no-repeat left top;
}

#navcontainer ul li.active a {
	margin:0;
	padding: 0 1em 0 0;
	background:url(img/header_tab_active_right.gif) no-repeat right top;
}

#navcontainer ul li a, #navcontainer ul li a:visited {
	display: block;
	line-height: 24px;
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
}

#navcontainer ul li a:hover, #navcontainer ul li a:visited:hover {
	color: #95ca17;
}

/* Form buttons */

.formbuttons a, .formbuttons a:visited {
	float: left;
	height: 21px;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	background:url(img/button_form_left_on_tan.gif) no-repeat left top;
}

.formbuttons a span, .formbuttons a:visited span {
	margin:0;
	padding: 1px 1em 0 0;
	background:url(img/button_form_right_on_tan.gif) no-repeat right top;
	display: block;
	line-height: 20px;
	font-size: 10px;
	text-decoration: none;
	color: #333333;
}

.formbuttons a:hover, .formbuttons a:visited:hover {
	background-position: bottom left;
}

.formbuttons a:hover span, .formbuttons a:visited:hover span {
	background-position: bottom right;
	color: #111111;
}

.formbuttons .buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
	overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
	width: 100%;
}

.formbuttons-ow a, .formbuttons a:visited {
	height: 17px;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	background:url(img/button_form_left_on_white.gif) no-repeat left top;
}

.formbuttons-ow a span, .formbuttons a:visited span {
	margin:0;
	padding: 1px 1em 0 0;
	background:url(img/button_form_right_on_white.gif) no-repeat right top;
	display: block;
	line-height: 16px;
	font-size: 10px;
	text-decoration: none;
	color: #333333;
}

/* Paging */

#paging {
	margin: 0 auto;
	padding: 0;
}

#paging ul {
	margin: 0;
	padding: 0;
}

#paging ul li {
	display: inline;
	margin: 0;
	padding: 0;
	text-align: center;
        cursor: default;
}

#paging ul li.active {
	padding: 5px 6px 2px 6px;
	font-size: 12px;
	color: #ffffff;
	background:url(img/paging_circle_active_on_tan.gif) no-repeat left bottom;
}

#paging ul li.modactive {
	padding: 5px 3px 2px 2px;
	font-size: 12px;
	color: #ffffff;
	background:url(img/paging_circle_active_on_tan.gif) no-repeat left bottom;
}

#paging ul li a, #paging ul li a:visited {
	padding: 5px 6px 2px 6px;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background:url(img/paging_circle_on_tan.gif) no-repeat left bottom;
}

#paging ul li.cycle a, #paging ul li.cycle a:visited {
	padding: 5px 3px;
	font-size: 12px;
	text-align: center;
	color: #999999;
	background-image:none;
}

#paging ul li.mod a, #paging ul li.mod a:visited {
	padding: 5px 3px 3px 2px;
}

#paging ul li a:hover, #paging ul li a:visited:hover {
	color: #403f3a;
}

#paging ul li.active a:hover, #paging ul li.active a:visited:hover {
	color: #e7e4d6;
}

#paging ul li a:hover, #paging ul li a:visited:hover {
	color: #555656;
}

#paging ul li.cycle a:hover, #paging ul li.cycle a:visited:hover {
	color: #555656;
}


/* Login area */

#logincontainer {
	position: absolute;
	top: 0;
	right: 0;
	height:30px;
}

#logincontainer span {
	margin: 0;
	padding: .4em .5em .4em 1em;
	line-height: 2em;
	background:url(img/header_login_left.gif) no-repeat left bottom;
	background-color:#0f2659;
	font-size: 11px;
	color: #ffffff;
}

#logincontainer a, #logincontainer a:visited {
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
}

#logincontainer a:hover, #logincontainer a:visited:hover {
	color: #95ca17;
}

/* Main area */

td.maincontent td {
	padding: 0 0 1em 0;
}

td.maincontent div.links-table {
	float: right;
	padding-top: .5em;
	text-align: right;
	font-size: 12px;
	color: #dddddd;
}

td.maincontent div.links-table a, td.maincontent div.links-table a:visited {
	font-size: 12px;
	color: #daa320;
	text-decoration: none;
	font-weight:normal;
}

td.maincontent div.links-table a:hover {
	color: #b7840d;
}

td.maincontent div.links-table a#active {
	color: #daa320;
}

td.maincontent div.links-table a.external, td.maincontent div.links-table a.external:visited {
	margin: 0;
	padding: 1em 1em 0 0;
	background:url(img/icon_external_link_gold.gif) no-repeat 100% bottom;
}

td.maincontent div.links-table a:hover.external {
	background:url(img/icon_external_link_gold_hover.gif) no-repeat 100% bottom;
}

td.maincontent tr.search-table td {
	padding: 10px 3px 3px 3px;
	background-color: #e7e4d6;
}

td.maincontent tr.search-table td.left {
	padding-left: 7px;
	background: #e7e4d6 url(img/mtbox_topleft.gif) no-repeat left top;
}

td.maincontent .search-table form {
	font-size: 11px;
}

select {
	padding: 2px;
	cursor: pointer;
}

input.text {
	padding: 1px;
}

td.maincontent tr.search-table td.right {
	padding-right: 7px;
	text-align: right;
	background: #e7e4d6 url(img/mtbox_topright.gif) no-repeat right top;
}

td.maincontent tr.paging-table td {
	padding: .3em 3px .6em 3px;
	background-color: #e7e4d6;
	text-align: center;
}

td.maincontent tr.paging-table td.left {
	padding-left: 7px;
	background: #e7e4d6 url(img/mtbox_botleft.gif) no-repeat left bottom;
}

td.maincontent tr.paging-table td.right {
	padding-right: 7px;
	background: #e7e4d6 url(img/mtbox_botright.gif) no-repeat right bottom;
}

td.maincontent tr.white-top td {
	margin: 0;
	padding: 0;
	font-size:1px;
	height: 14px;
}

td.maincontent tr.white-top td.middle {
	padding: 0 14px;
	background-image: url(img/mwbox_top.gif);
}

td.maincontent tr.white-top td.left {
	width: 14px;
	background: #e7e4d6 url(img/mwbox_topleft.gif) no-repeat left top;
}


td.maincontent tr.white-top td.right {
	width: 14px;
	background: #e7e4d6 url(img/mwbox_topright.gif) no-repeat right top;
}

td.maincontent tr.white-bottom th, td.maincontent tr.white-bottom td {
	margin: 0;
	padding: 0;
	font-size:1px;
	height: 14px;
}

td.maincontent tr.white-bottom td.middle {
	padding: 0 14px;
	background-image: url(img/mwbox_bot.gif);
}

td.maincontent tr.white-bottom th.left, td.maincontent tr.white-bottom td.left {
	width: 14px;
	background: #e7e4d6 url(img/mwbox_botleft.gif) no-repeat left top;
}


td.maincontent tr.white-bottom th.right, td.maincontent tr.white-bottom td.right {
	width: 14px;
	background: #e7e4d6 url(img/mwbox_botright.gif) no-repeat right top;
}


td.maincontent tr.white-main th, td.maincontent tr.white-main td {
	margin: 0;
	padding: 0 1px 0 0;
	background-color: #ffffff;
	line-height: 2em;
}

td.maincontent p {
	margin: 0;
	font-size: 12px;
}

tr.white-main th.center, tr.white-main td.center {
	padding: 0;
	text-align: center;
}

tr.white-main th a, tr.white-main th a:visited {
	line-height: 2em;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

tr.white-main td a, tr.white-main td a:visited {
}

tr.white-main th a.sort-down, tr.white-main th a.sort-down:visited {
	margin: 0;
	padding: 1em 1.2em 0 0;
	background:url(img/icon_active_arrow_down.gif) no-repeat 100% bottom;
}

tr.white-main th a.sort-up, tr.white-main th a.sort-up:visited {
	margin: 0;
	padding: 1em 1.2em 0 0;
	background:url(img/icon_active_arrow_up.gif) no-repeat 100% bottom;
}

tr.white-main th a:hover {
	color: #111111;
}

tr.white-main th a#active {
	color: #333333;
}

td.maincontent tr.white-main td {
	padding: .4em 0 .5em 0;
	vertical-align: top;
	border-top:1px solid #cccccc;
	line-height: 1.5em;
	font-size: 11px;
}

td.maincontent tr.white-main td.left {
	padding: 0;
	width: 14px;
	background-image: url(img/mwbox_left.gif);
	repeat: repeat-y;
	border-top: 0px;
}


td.maincontent tr.white-main td.right {
	padding: 0;
	width: 14px;
	background-image: url(img/mwbox_right.gif);
	repeat: repeat-y;
	border-top: 0px;
}

/* Left Nav */

#leftnav {
	width: 170px;
	margin: 0;
	padding: 0 0 0 0;
	text-align: right;
}

#leftnav h1 {
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-style: italic;
	color: #a9a9a9;
}

#leftnav ul {
	padding-top: 2em;
	margin-left: 16px;
}

#leftnav li {
	margin: 0;
	padding: 0;
    border-top: 1px solid #e5e5e5;
    list-style-type: none;
}

#leftnav li ul li.current-page {
    background-image: url(img/icon_leftnav_active.gif);
    background-repeat: no-repeat;
    background-position: 144px .35em;
}

#leftnav li ul {
	margin: 0;
	padding: .2em 0 0em 0;
	background-color: #eff4ff;
}

#leftnav li ul li {
	margin: 0;
	padding: 0;
    border-top: 0px solid #eff4ff;
}

#leftnav li ul li a {
	line-height: 1.7em;
}

#leftnav li ul li.current-heading {
	padding-bottom: .3em;
}

#leftnav li ul li.current-heading a {
	font-weight: bold;
}

#leftnav a {
	padding: .5em 12px .4em 0;
	line-height: 2.4em;
	font-size: 11px;
	color: #2c65af;
	text-decoration: none;
	font-weight:normal;
}

#leftnav a:hover {
	color: #0f2659;
}

#leftnav a#active {
	color: #2c65af;
}

/* Footer */

p.footer {
	padding: 2em 18px 0 0;
	text-align: right;
	font-size: 11px;
	color: #c3c0b5;
}

/* Layout */

div.container {
	min-width: 975px;
}

div.content {
	margin: 0 10px 0 180px;
}
td.maincontent {
	padding: 0 16px 0 18px;
}
div.topbar {
	height: 80px;
	line-height: 80px;
}

div.wrapper {
	float:left;
	width:100%;
}

div.leftcolumn {
	float: left;
	width: 170px;
	margin-left: -100%;
	text-align: right;
}

div.extra{
	float: left;
	width: 10px;
	margin-left: -10px;
}

div.onecolumn {
	clear:left;
	width:100%;
}

