/* Left Nav */

#leftnav {
    width: 170px;
    margin: 0;
    padding: 0 0 0 0;  
}

#leftnav h1 {
    padding: 6px 0 5px 18px;
    margin: 0 0 .66em 0;
	font-size: 12px;
	background-color: #2c65af;
    color: #fff;
}

#leftnav ul {
    padding: 0;
	margin: 0 0 2.5em 0;
}

#leftnav li {
    margin: 0;
    padding: 3px 0 1px 18px;
    border-bottom: 1px solid #e5e5e5;
    list-style-type: none;
}

#leftnav li.current-section {
    background-color: #eff4ff;
}

#leftnav li.current-section li {
	border-color: #eff4ff;;
}


#leftnav li ul {
    margin: 0;
    padding: 0;
}

#leftnav li ul li {
    margin: 0;
    padding: 0 0 0 9px;
    border-bottom: 1px solid #fff;
}

#leftnav li ul li.current-heading {
}

#leftnav li.current-section a {
    font-weight: bold;
}

#leftnav li.current-section ul a {
    font-weight: normal;
}

#leftnav li.expand {
    background-image: url(img/icon_arrow_blue_right.gif);
    background-repeat: no-repeat;
    background-position: 8px .6em; 
}

#leftnav li.expand-toggle {
    background-image: url(img/icon_arrow_blue_down.gif);
    background-repeat: no-repeat;
    background-position: 8px .5em; 
}

#leftnav a, #leftnav a:visited {
	display: block;
	margin: 0;
    padding: 0;
    font-size: 11px;
    color: #2c65af;
    text-decoration: none;
    font-weight:normal;

}

#leftnav a:hover {
	display: block;
    color: #0f2659;
}

#leftnav a#active {
    color: #2c65af;
}
