<div style="width:$chart.width px; height:$chart.height px; "> 
  <div><canvas id="chart$chart._dataName" width="$chart.width" height="$chart.height"></canvas></div> 
    
  <script type="text/javascript"> 

    var $layoutName = new Layout( "line" );
    
<%  for ( var s in obj.chart._series ){
     print( " var " + obj.chart._dataName + s + " = [];\n" );
 } %>
    
    $chart._dataCode;

    <%= obj.layoutName %>.options.xAxis = [  $chart._min.getTime() ,  $chart._max.getTime() ]; 
    var myDiff = <%= obj.chart._max.getTime() - obj.chart._min.getTime() %>;

    var myTicks = null;
    if ( myDiff < ( 1000 * 3600 * 48  ) ) myTicks = null;
    else if ( myDiff < ( 1000 * 3600 * 24 * 10  ) ) myTicks = myDiff / ( 1000 * 3600 * 24 );
    if ( myTicks ) <%= obj.layoutName %>.options.xNumberOfTicks = myTicks;

<% for ( var s in obj.chart._series ){
        print( obj.layoutName + ".addDataset( \"" + s + "\" , " + obj.chart._dataName + s + " );\n" );    
} %>
    
    <%= obj.layoutName %>.xTickLabeler = function(z){ 
        var d = new Date(z);

        if ( myDiff < ( 1000 * 3600 * 48  ) ) return d.getHours();
        if ( myDiff < ( 1000 * 3600 * 24 * 10  ) ) return ( 1 + d.getMonth() ) + "/" + d.getDate();
        return ( 1 + d.getMonth() ) + "/" + d.getDate();

    }; 
    
    <%= obj.layoutName %>.evaluate();
    
    var chart = new SweetCanvasRenderer(  document.getElementById( "chart$chart._dataName" ) , $layoutName );

    chart.options.shouldFill = true;
    chart.options.shouldStroke = false; 
    chart.options.backgroundColor = Color.whiteColor();
    
    chart.render();

  </script> 
</div> 
