<%

var table = obj.table;
var top = obj.top;
var th = obj.th;

%>

  <!-- Main area -->
  <tr class="white-main">
    <td class="left">&nbsp;</td>
    <forin i th>
      <th class="$th[i].className">
        <if (top && th[i].name == "NAME")>
          <a onclick="sortBy('name')" class="name" id="thlinkname"><%= th[i].heading || th[i].name %></a>
          <img src="/~~/admin/assets/img/timestamp_circle_1.gif" />
        </if>
        <if (table.idxes[th[i].name])>
          <a onclick="sortBy('$th[i].name')" id="thlink$th[i].name"><%= th[i].heading || $th[i].name %></a>
          <img src="/~~/admin/assets/img/timestamp_circle_1.gif" />
        </if>
        <if (!(top && th[i].name == "NAME") && !table.idxes[th[i].name])>
          <%= th[i].heading || th[i].name %>
        </if>
      </th>
    </forin>
    <td class="right">&nbsp;</td>
  </tr>

  <if (top)>
    <forin row table.rows>
      <tr class="white-main">
        <td class="left">&nbsp;</td>
        <td><a href="$table.rows[row].url&refPage=$table.currentPage">$table.rows[row].name</a></td>
        <td>$table.rows[row].index</td>
        <td class="center">$table.rows[row].fixed</td>
        <td class="center">
	  <input type="image" src="/~~/admin/assets/img/button_stats_on_white.gif" value="Stats" alt="Stats" onclick="getValidation('$table.rows[row].name')">
        </td>
        <td class="center">
	  <input type="image" src="/~~/admin/assets/img/button_drop_on_white.gif" value="Drop" alt="Drop" onclick="dropTable('$table.rows[row].name')">
        </td>
        <td class="right">&nbsp;</td>
      </tr>
    </forin>
  </if>
  <if (!top)>
    <forin row table.rows>
      <tr class="white-main">
        <td class="left">&nbsp;</td>
        <if (table.rows[row].id)>
          <td>$table.rows[row].id</td>
        </if>
        <forin field th>
          <if (th[field].name != "_id") >
            <td class="$th[field].className">$table.rows[row][th[field].name]</td>
          </if>
        </forin>
        <td class="right">&nbsp;</td>
      </tr>
    </forin>
  </if>

