<%    // fileDiff -- per-file diff link
   // title
   // actions = ["checkout", "diff", "commit"]
   // filenames = ["file1", "file2"]
   // filevar = "untracked_file" (the "name" field for a checkbox)
   var filenames = obj.filenames;
   var filetypes = obj.filetypes;
   var actions = obj.actions;
   var unmerged = obj.unmerged;
   var fileDiff = obj.fileDiff;
%>
    <tr>
      <td colspan="2">$title</td>
    </tr>
    <forin file filenames>
      <% var classes = [];
         if(filenames[file] in unmerged) classes.push("gitunmerged"); %>
      <tr class="<%= classes.join(' ') %>">
        <td><input type="checkbox" name="$filevar" value="$filenames[file]" <%= ( obj.checked[obj.filenames[file]] ? 'checked' : '' ) %> ></td>
        <td>$filenames[file]
          <%
             if(filetypes[file] == "CONFLICT"){
                 print("<span class='conflicttype'>CONFLICT</span>");
             }
             else if(filetypes[file]){
                 print("(" + filetypes[file] + ")");
             }
%>
        <if fileDiff>
          (<a href="gitDiffOne?file=$filenames[file]" target="new" onclick="return popup(this)">diff</a>)
        </if></td>
      </tr>
    </forin>
    <if obj.extra>
      <tr>
        <td colspan="2">$extra</td>
      </tr>
    </if>
    <tr>
      <td colspan="2">
      <forin action actions>
        <input type="submit" name="action" value="<%= actions[action].name || actions[action] %>" <%= actions[action].disabled? "disabled" : "" %>>
      </forin>
      </td>
    </tr>
