<%    // fileDiff -- per-file diff link
   // title
   // actions = ["checkout", "diff", "commit"]
   // filenames = ["file1", "file2"]
   // filevar = "untracked_file", "changed_file" (the "name" field for a checkbox)
   var filenames = obj.filenames;
   var filetypes = obj.filetypes;
   var actions = obj.actions;
   var unmerged = obj.unmerged;
   var unadd = obj.unadd;
   var fileDiff = obj.fileDiff;
%>
    <tr>
      <td colspan="2"><input type="checkbox" name="checkAll_$filevar" onclick="handleCheckAll(this)">$title</td>
    </tr>
    <forin file filenames>
      <% var classes = [];
         if(filenames[file] in unmerged) classes.push("gitunmerged"); %>
      <tr class="<%= classes.join(' ') %>">
        <td><input type="checkbox" name="$filevar" value="$filenames[file]" class="check_$filevar" <%= ( obj.checked[obj.filenames[file]] ? 'checked' : '' ) %> ></td>
        <td><a href="gitShowFile?file=$filenames[file]" target="new" onclick="return popup(this.href)">$filenames[file]</a>
          <%
             if(filetypes[file] == "CONFLICT"){
                 print("<span class='conflicttype'>CONFLICT</span>");
             }
             else if(filetypes[file]){
                 print("(" + filetypes[file] + ")");
             }
%>
          <if fileDiff>
            (<a href="gitDiff?file=$filenames[file]" target="new" onclick="return popup(this.href)">diff</a>)
          </if>

          <if (unadd[filenames[file]])>
            <input type="submit" name="action" value="unadd" id="unadd_$filenames[file]" onclick="unaddSubmit(this)">
          </if>
        </td>
      </tr>
    </forin>
    <tr>
      <td colspan="2">
      <forin action actions>
        <input type="submit" name="action" value="<%= actions[action].name || actions[action] %>" <%= actions[action].disabled? "disabled" : "" %> <%= actions[action].onclick? 'onclick="'+actions[action].onclick+'"' : ""%>>
      </forin>
      </td>
    </tr>
