<%    // fileDiff -- per-file diff link
   // title
   // actions = ["checkout", "diff", "commit"]
   // filenames = ["file1", "file2"]
   // filevar = "untracked_file", "changed_file" (the "name" field for a checkbox)
   var filenames = obj.filenames;
   var filetypes = obj.filetypes;
   var massActions = obj.massActions;
   var unmerged = obj.unmerged;
   var unadd = obj.unadd;
   var fileActions = obj.fileActions;
%>
<tr class="white-main">
  <td class="left">&nbsp;</td>
  <th class="lmod"><div class="float-right">
      <forin acti massActions>
        <% var action = massActions[acti], name = action.name || action; %>
        <input type="image" src="assets/img/button_<%= name %>_on_white.gif" value="<%= name %>" class="<%= action.disabled? "disabled" : "" %>" <%= action.onclick? 'onclick="'+action.onclick+'"' : "" %>>
      </forin>
    </div><nobr><a href="">$title</a></nobr></th>
  <td class="right">&nbsp;</td>
</tr>
<tr class="white-main">
  <td class="left">&nbsp;</td>
  <td class="lmod">
    <table cellpadding=0 cellspacing=0 border="0">
      <forin file filenames>
        <% var classes = [];
           if(filenames[file] in unmerged) classes.push("gitunmerged"); %>
        <tr class="<%= classes.join(' ') %>">
          <td>
            <input type="checkbox" name="$filevar" value="$filenames[file]" class="check_$filevar" <%= ( obj.checked[obj.filenames[file]] ? 'checked' : '' ) %> >
            <a href="gitShowFile?file=$filenames[file]" target="new" onclick="return popup(this.href)">$filenames[file]</a>
          </td>
          <td>
          <%
             if(filetypes[file] == "CONFLICT"){
                 print("<span class='conflicttype'>CONFLICT</span>");
             }
             else if(filetypes[file]){
                 print("(" + filetypes[file] + ")");
             }
%>
          <if fileDiff>
            (<a href="gitDiff?file=$filenames[file]" target="new" onclick="return popup(this.href)">diff</a>)
          </if>
          
          <if (unadd[filenames[file]])>
            <input type="submit" name="action" value="unadd" id="unadd_$filenames[file]" onclick="unaddSubmit(this)">
          </if>
          </td>
        </tr>
      </forin>
    </table>
  </td>
  <td class="right">&nbsp;</td>
</tr>
