<%
var obj = arguments[0] || {};
var sectionList = obj.sectionList || [];
if(sectionList.length < 1) return;
var topSection = sectionList[0];

var sectionTree = core.admin.data.sectiontree();

if(! sectionTree[topSection]){
    sectionTree[topSection] = {};
}

var sectionNames = {
    'system/database/dbview': 'View Collections',
    'system/database/dbprofile': 'Profiling',
    'system/logs/logScroll': 'Scrolling Logs',
    'system/logs/logMemory': 'Logs in Memory',
};
%>
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
        <!-- Left Side -->
    <td width="180" valign="top">
      <div id="leftnav">
                <h1>navigation</h1>
                  <ul>
                    <% for(var key in sectionTree[topSection]){
                        if(key != sectionList[1]){ %>
                        <li><a href="<%= key %>"><%= key.toUpperCase() %></a></li>
                        <% } else { %>
                        <li>
                          <ul>
                                <li class="current-heading"><a href=""><%= key.toUpperCase() %></a></li>
                                <% for(var subkey in sectionTree[topSection][key]){ %>
                                <li class="<%= subkey == sectionList[2] ? 'current-page' : "" %>"><a href="<%= subkey %>"><%= sectionNames[[topSection, key, subkey].join('/')] %></a></li>
                                <% } %>
                          </ul>
                        </li>
                        <% } %>
                        <% } %>
                  </ul>
                </div>
        </td>
        <!-- Right Side -->
        <td class="maincontent" width="100%" valign="top">
