<%
var obj = arguments[0] || {};
// We always want to print this table, but the links on the left side are chosen
// based on the first element of the sectionList. If we have no idea what
// section we're in, use the dummy section "$" which doesn't have a section
// in the section tree, thereby rendering no links.
var sectionList = obj.sectionList || ["$"];

var sectionTree = core.admin.data.sectiontree();

%>
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
        <!-- Left Side -->
    <td width="180" valign="top">
      <div id="leftnav">
        <ul>
          <% for(var key in sectionTree){
              if(sectionTree[key] == false){ %>
          </ul><h1><%= key %></h1><ul>
          <% }
              else if(key != sectionList[0]){ %>
          <li><a href="<%= sectionTree[key].$ || '/admin/'+key %>"><%= key.toUpperCase() %></a></li>
          <%  } else { %>
          <li>
            <ul>
              <li class="current-heading"><a href="/admin/<%= sectionTree[key].$ || key %>"><%= key.toUpperCase() %></a></li>
              <% for(var subkey in sectionTree[key]){
                  if(subkey == "$") continue;
                      %>
              <li class="<%= subkey == sectionList[1] ? 'current-page' : "" %>"><a href="/admin/<%= subkey %>"><%= sectionTree[key][subkey] %></a></li>
              <% } %>
            </ul>
          </li>
          <% } %>
                 <%
             } %>
        </ul>
      </div>
    </td>
    <!-- Right Side -->
        <td class="maincontent" width="100%" valign="top">

