<%
var obj = arguments[0] || {};
// We always want to print this table, but the links on the left side are chosen
// based on the first element of the sectionList. If we have no idea what
// section we're in, use the dummy section "$" which doesn't have a section
// in the section tree, thereby rendering no links.
var sectionList = obj.sectionList || ["$"];

var sectionTree = core.admin.data.sectiontree().tree;
log(tojson(sectionList));
%>
<script>
var toggleDisplay = function(elemId){
  var elem = document.getElementById(elemId);
  if(elem.style.display == '') {
    elem.style.display = 'none';
    return false;
  } else {
    elem.style.display = '';
    return true;
  }
};
var toggleClass = function(elemId){
  var elem = document.getElementById(elemId);
  var oldclass = "expand-toggle";
  var newclass = "expand";
  var classes = elem.className.split(/\s+/);
  for(var i = 0; i < classes.length; i++){
    if(classes[i] == oldclass){
	  classes[i] = newclass;
    }
	else if(classes[i] == newclass){
	  classes[i] = oldclass;
	}
  }
  elem.className = classes.join(" ");
};

</script>

<table cellpadding="0" cellspacing="0" border="0">
  <tr>
        <!-- Left Side -->
    <td width="180" valign="top" style="padding: 18px 0 0 18px; ">
      <div id="leftnav">
		<h1>System Administration</h1>
        <ul>
          <% for(var key in sectionTree){
              if(sectionTree[key] == false){ %>
        </ul><h1><%= key %></h1><ul>
          <% }
             else if(typeof sectionTree[key] == "string"){
             if(key != sectionList[0]){ %>
          <li><a href="<%= sectionTree[key] %>"><%= key.toUpperCase() %></a></li>
          <% } else { %>
          <li class="current-section">
			<a href="<%= sectionTree[key] %>"><%= key.toUpperCase() %>
			  <img src="/~~/admin/assets/img/icon_leftnav_active.gif" />
			</a>
		  </li>
          <% }
             }
              else { %>
		    <li id="hd_ul_<%= key %>" class="<%= sectionList[0] == key ? 'current-section expand-toggle' : "expand" %>">
		    <a href="#" onclick="toggleClass('hd_ul_<%= key %>'); setCookie('hd_ul_<%=key%>_open', toggleDisplay('ul_<%= key %>'))"><%= key.toUpperCase() %></a>
            <ul <%= sectionList[0] != key ? 'style="display: none;"' : '' %> id="ul_<%= key %>">
              <% for(var subkey in sectionTree[key]){
                  if(subkey == "$") continue;
                      %>
              <li>
                <a href="/admin/<%= sectionTree[key].$? sectionTree[key].$+'/': '' %><%= subkey %>"><%= sectionTree[key][subkey] %>
				<% if(subkey == sectionList[1]) { %>
					<img src="/~~/admin/assets/img/icon_leftnav_active.gif" />
				<% } %>
				</a>
              </li>
              <% } %>
            </ul>
            <script ? (sectionList[0] != key) >
              if(getCookie('hd_ul_<%= key %>_open') == "true"){
                  toggleClass('hd_ul_<%= key %>');
                  toggleDisplay('ul_<%= key %>');
              }
            </script>
          </li>
          <% } %>
          <% } %>
        </ul>
      </div>
    </td>
    <!-- Right Side -->
        <td class="maincontent" width="100%" valign="top">

