<% processArgs("opts");
   opts = opts || {};
   var login = User.findMyLocation();
%>
<div id="email">


  <form method="post" action="<%= login %>/username_send" onSubmit="return checkRegister( this )" class="edit email">

    <fieldset class="edit email">
    <legend>Reset</legend>
    <table>
    <tr>
        <td><label for="email">Email</label></td>
        <td><input name="email" class="text"></td>
    </tr>

    <tr>
        <td></td>
        <td><input type="submit" value="Submit" class="button" style="">
        </td>
    </tr>
    </table>
    </fieldset>
  </form>

</div>
