<%
var conf = arguments[0] || {};
var login = User.findMyLocation();
var toURL = login + '/doLogin?to=' + escape( conf.to || request.getURL() );
%>
<script src="/~~/ui/js/md5.js"></script>
<script>

  var prefix = "<%= md5( SERVER_HOSTNAME + (new Date()).roundMinutes( 7 ) ) %>";
  var area = "<%= "11" == request.getCookie( "__sudo" ) ? "admin" : db.getName() %>";

  function processLoginForm( frm, toURL ){

    if ( ! frm ) frm = document.getElementById( "login_form" );

    var u = toURL;
    if ( u.indexOf( "?" ) < 0 ) u += "?";
    u += "&prefix=" + prefix;
    u += "&username=" + frm.login_user.value;

    var thing = frm.login_user.value + ":" + area + ":" + frm.login_pass.value;

    u += "&hash=" + hex_md5( prefix + ":" + hex_md5( thing  ) );

    if ( frm.login_remember.checked ) u += "&remember=t";

    location.href = u;
    return false;
  }

</script>

<div ? user >
  <div ? (conf.reason) class="notice"><%= conf.reason %></div>
  <div class="notice">You are already logged in as <strong><%= user.name %> (<%= user.email %>)</strong>.<br/><br/>If you would like to log in as another user, please <a href="<%= login %>/logout?to=<%= escape( request.getURL() ) %>">log out</a> first.</div>
</div>

<div ? ( ! user ) id="login">

    <form id="login_form" method="POST" action="/goaway" onSubmit="return processLoginForm( this , <%= content.HTML.escape(tojson(toURL)) %>)" class="edit login">

        <fieldset class="login">
            <legend>Login</legend>
            <table>
                <tr>
                    <td><label for="login_user">Username</label></td>
                    <td><input name="login_user" class="text"></td>
                </tr>
                <tr>
                    <td><label for="login_password">Password</label></td>
                    <td><input type="password" name="login_pass" class="text"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                      <if (request.getCookie( "__sudo" ) == "11")>
                        <input type="checkbox" name="login_remember" checked>
                      </if>
                      <if (request.getCookie( "__sudo" ) != "11")>
                        <input type="checkbox" name="login_remember">
                      </if>
                      Remember me
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="action" value="Login" class="button">
                        <strong ? ( "11" == request.getCookie( "__sudo" ) ) style="color:red;">sudo</strong>
                    </td>
                </tr>
            </table>
			<p class="login">
			  <a href="<%= login %>/username_send">Forgot your username?</a> <br />
		      <a href="<%= login %>/reset_send">Forgot your password?</a>
		 	</p>
    </fieldset>
  </form>

</div>
