<% processArgs("opts");
   opts = opts || {};
   var login = User.findMyLocation();
   // FIXME: this form dynamically recomputes itself to do checks and stuff
   // login_user -> username, etc. If JS is disabled, registration is impossible
%>
<div id="register">


  <form method="post" action="<%= login %>/register" onSubmit="return checkRegister( this )" class="edit register" id="register_form">

    <fieldset class="edit register">
    <legend>Register</legend>
    <table>
    <tr>
        <td><label for="login_user">Username</label></td>
        <td><input name="login_user" class="text" value="<%= opts.username || "" %>" onblur="blurUsername()"></td>
    </tr>

    <tr>
        <td><label for="login_pass1">Password</label></td>
        <td><input type="password" name="login_pass1" class="text"></td>
    </tr>

    <tr>
        <td><label for="login_pass2">Password Again</label></td>
        <td><input type="password" name="login_pass2" class="text"></td>
    </tr>
    <tr>
        <td><label for="login_firstname">First name (optional)</label></td>
        <td><input name="login_firstname" class="text" value="<%= opts.firstname || "" %>"></td>
    </tr>

    <tr>
        <td><label for="login_lastname">Last name (optional)</label></td>
        <td><input name="login_lastname" class="text" value="<%= opts.lastname || "" %>"></td>
    </tr>

    <tr>
        <td><label for="login_nickname">Display name</label></td>
        <td><input name="login_nickname" class="text" value="<%= opts.nickname || "" %>"></td>
    </tr>

    <tr>
        <td><label for="login_email">Email</label></td>
        <td><input name="login_email" class="text" value="<%= opts.email || "" %>"></td>
    </tr>

    <tr>
        <td><label for="login_url">URL (optional)</label></td>
        <td><input name="login_url" class="text" value="<%= opts.url || "" %>"></td>
    </tr>

    <% if(User.config.useCaptcha){ %>
    <tr id="comments-open-captcha">
        <td><label>&nbsp;</label></td>
        <td><img src="NOCDN<%= login %>/captchaIMG" id="captcha"/></td>
    </tr>
    
    <tr>
        <td></td>
        <td>
            <span class="small">Type the characters you see in the picture above (just to make sure you&apos;re a human).</span>
            <input name="login_captcha" class="text">
        </td>
    </tr>
    <% } %>

    <tr>
        <td></td>
        <td><input type="submit" value="Register" class="button" style="">
            <% if (opts.to) { %><input type="hidden" name="login_to" value="<%= opts.to %>"/><% } %>
        </td>
    </tr>
    </table>
    </fieldset>
  </form>

</div>
<% head.push( "<script src='/~~/ui/js/common.js'></script>" ); %>
<script>

  var lastUsername = "";
  function blurUsername( ){
    var frm = document.getElementById("register_form");
    var u = frm.login_user.value;
    var n = frm.login_nickname.value;
    if(n == lastUsername)
      frm.login_nickname.value = u;
    lastUsername = u;
  }

  function checkRegister( frm ){
    var u = frm.login_user.value;
    var e = frm.login_email.value;

    var p1 = frm.login_pass1.value;
    var p2 = frm.login_pass2.value;

    <% if(User.config.useCaptcha){ %>
    var c = frm.login_captcha.value;
    <% } %>
    var n = frm.login_nickname.value;
    var fn = frm.login_firstname.value;
    var ln = frm.login_lastname.value;
    var url = frm.login_url.value;

    if(frm.login_to)
      var to = frm.login_to.value;

    if ( ! ( u && u.trim().length != 0 ) ){
      window.alert( "need a username" );
      return false;
    }

    if ( ! ( n.trim() ) ){
      window.alert( "need a displayname" );
      return false;
    }

    if ( u.length < 6 ){
      window.alert( "username is too short" );
      return false;
    }

    if ( ! ( e && e.trim().length != 0 ) ){
      window.alert( "need an email address" );
      return false;
    }

    if ( ! ( e.length > 4 && e.match( /@/ ) ) ){
      window.alert( "real email address please" );
      return false;
    }

    if ( p1 != p2 ){
      window.alert( "passwords don't match" );
      return false;
    }

    if ( ! ( p1 && p1.trim().length >= 6 ) ){
      window.alert( "password too short" );
      return false;
    }

    var check = loadDocSync( "<%= login %>/checkUsername?username=" + u + "&email=" + e + "&nickname=" + n);
    if ( ! check.match( /good/ ) ){
      window.alert( "Sorry : " + check );
      return false;
    }

    var u = "<%= login %>/register?username=" + u + "&email=" + e + "&password=" + p1 + 
    <% if(User.config.useCaptcha){ %>
            "&captcha=" + c +
    <% } %>
            "&nickname=" + n + "&firstname=" + fn + "&lastname=" + ln + "&url="+ url;
    if(to) u = u + "&to=" + to;
    location.href = u;
    return false;
  }
</script>
