<% processArgs("opts");
   opts = opts || {};
   var login = User.findMyLocation();
%>
<div id="resetpassword">


  <form method="post" action="<%= login %>/reset_receive" onSubmit="return checkReset( this )" class="edit resetpassword">

    <fieldset class="edit resetpassword">
    <legend>Reset Password</legend>
    <table>
    <tr>
        <td><label for="reset_pass1">Password</label></td>
        <td><input type="password" name="reset_pass1" class="text"></td>
    </tr>

    <tr>
        <td><label for="reset_pass2">Password Again</label></td>
        <td><input type="password" name="reset_pass2" class="text"></td>
    </tr>

    <tr>
        <td></td>
        <td><input type="submit" value="Set" class="button" style="">
            <% if (opts.to) { %><input type="hidden" name="reset_to" value="<%= opts.to %>"/><% } %>
        </td>
    </tr>
    <input type="hidden" name="reset_hash" value="<%= opts.hash %>"/>
    </table>
    </fieldset>
  </form>

</div>
<% head.push( "<script src='/~~/ui/js/common.js'></script>" ); %>
<script>


  function checkReset( frm ){
    var p1 = frm.reset_pass1.value;
    var p2 = frm.reset_pass2.value;
    var hash = frm.reset_hash.value;

    if(frm.reset_to)
      var to = frm.reset_to.value;

    if ( p1 != p2 ){
      window.alert( "passwords don't match" );
      return false;
    }

    if ( ! ( p1 && p1.trim().length >= 6 ) ){
      window.alert( "password too short" );
      return false;
    }

    var u = "<%= login %>/reset_receive?hash=" + hash + "&newpw=" + p1;
    if(to) u = u + "&to=" + to;
    location.href = u;
    return false;
  }
</script>
