<%
var conf = arguments[0] || {};
conf.login = conf.login || "/~~/user";
%>
<% head.push( "<script src='/~~/ui/js/common.js'></script>" ); %>
<div id="login_status">

  <if user >
    Logged in as <%= user.name %> &mdash; <a href="<%= conf.login %>/logout?to=<%= request.getURL() %>">logout</a>
  </if>
  
  <if ( ! user )  >
    <a href="<%= conf.login %>/login">login</a> &mdash; <a href="<%= conf.login %>/register">signup</a>

    <div id="login_login" 
         style="position: absolute; display:none; width: 250px; height: 150px; right: 40px; top:20px; background-color: white; border:1px solid black; color: black; ">
      <% core.ui.elements.closeButton( "login_login" ); %>
      <% core.user.html.login(); %>
    </div>

    <div id="login_register" 
         style="position: absolute; display:none; width: 500px; height: 250px; right: 50px; top:20px; background-color: white; border:1px solid black; color: black; ">
      <% core.ui.elements.closeButton( "login_register" ); %>
      <% core.user.html.register(); %>
    </div>
    
  </if>

</div>
