<%
var conf = arguments[0] || {};
var login = User.findMyLocation();
%>
<% 
if(! head.topCornerBaseCSS ){
    head.topCornerBaseCSS = true;
    head.addCSS(login + "/assets/topCornerBase.css", 0);
}

head.push( "<script src='/~~/ui/js/common.js'></script>" ); %>
<div id="login_status">

  <if user >
    <nobr>
      <span>
        Logged in as <a href="<%= login %>/edit"><%= user.name %></a> &mdash; <a href="<%= login %>/logout?to=<%= request.getURL() %>">logout</a>
        <if user.isAdmin()>
          <a href="/admin/">*</a>
        </if>
      </span>
    </nobr>
  </if>
  
  <if ( ! user )  >
    <a href="<%= login %>/login">login</a> &mdash; <a href="<%= login %>/register">signup</a>

    <div id="login_login" 
         style="position: absolute; display:none; width: 250px; height: 150px; right: 40px; top:20px; background-color: white; border:1px solid black; color: black; ">
      <% core.ui.elements.closeButton( "login_login" ); %>
      <% core.user.html.login(); %>
    </div>

    <div id="login_register" 
         style="position: absolute; display:none; width: 500px; height: 250px; right: 50px; top:20px; background-color: white; border:1px solid black; color: black; ">
      <% core.ui.elements.closeButton( "login_register" ); %>
      <% core.user.html.register(); %>
    </div>
    
  </if>

</div>

