/* forum style */

h2 {
   margin-top: -10px;
   font-size: 115%;
}

.post {
    position: relative;
    margin-left: 40px;
}

.postbox {
    padding: 9px 6px;
    border: 1px solid #157491;
    margin-bottom: 10px;
}
.postboxEven {
    padding: 0px;
    border: none;
    margin-bottom: 10px;
}

div.deleted {
    background: #FFDDDD;
}

div.moderated {
    background: #FFFAAA;
}
div#tagline {
     padding-bottom: 7px;
}

table {
    width: 100%;
    clear: right;
}

td {
    border: solid 1px #000;
}

.caption {
	padding: 0 0 5px 0;
	font-size: 12px;
	text-align: right;
        float: right;
}

table#style1, table.style1 {
	margin-bottom: 1em;
	width: 100%;
	border: 1px solid #157491;
}

#style1 form, .style1 form {
	display:inline;
}

#style1 input, .style1 input {
	margin:0;
	background-color: #369fbf;
	font-size:11px;
	color: #ffffff;
	border: 1px solid #ffffff;
}

#style1 a, .style1 a {
/*	display: block;*/
	line-height: 1.2em;
}

#style1 nobr, .style1 nobr {
	font-size:11px;
	color: #AAAAAA;
}

#style1 th, .style1 th {
	padding: 7px 6px 5px 12px;
	font-size: 11px;
	color: #4f6a72;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	background: #cce5ec url(th_back.gif?v=2);
	background-repeat: repeat-x;
}

#style1 th div.top_level, .style1 th div.top_level {
	float: left;
	padding: 6px 6px 4px 12px;
	height: 13px;
	color: #ffffff;
	background-color: #369fbf;
	background-repeat: repeat-x;
}

#style1 th.article, .style1 th.article {
	padding: 0px;
}
#style1 th.article div.mid_level, .style1 th.article div.mid_level {
        padding-left: 20px;
	background-repeat: no-repeat;
        background-image: url("th_arrow.gif");
}
#style1 th.article div.top_level a, .style1 th.article div.top_level a {
	color: #ffffff;
}

#style1 th.article div.second_level, .style1 th.article div.second_level {
	float: left;
	padding: 6px 6px 0px 18px;
	height: 17px;
	background-image: url(th_arrow2.gif);
	background-repeat: no-repeat;
}
#style1 th.article div.second_level a, .style1 th.article div.second_level a {
        display: inline;
}
#style1 .alignleft, .style1 .alignleft {
	text-align: left;
}

#style1 .alignright, .style1 .alignright {
	padding-right: 4px;
	text-align: right;
}

#style1 td, .style1 td {
	padding: 6px 6px 6px 12px;
	font-size: 14px;
	background: #fff;
	text-align:center;
	border-top: 1px solid #9ac0cc;
        border-left: none;
        border-right: none;
        border-bottom: none;
}

#style1 tr.alt td, .style1 tr.alt td {
	background-color: #f4f8f9;
}

div.postbox {
          padding: 10px;
}

div.postbox div.title {
       padding-bottom: 8px;
       font-size: 18px;
}
div.postbox div.author {
        diplay: block;
        padding: 0px 0px 0px 0px;
        margin-top: 5px;
}
span.pipe {
      padding-left: 5px;
      padding-right: 5px;
}
div.postbox span.ts {
      display: inline;
}
div.postbox span.ts span.time {
      color: #A81817;
}
div.postbox div.content {
         padding-top: 18px;
         padding-bottom: 16px;
}
div.postbox div.selectThread {
        float: left;
        text-align: left;
        padding: 0px 10px 0px 0px;;
}
div.postForm {
        background: #F0EFEF;
        border: 1px dotted #157491;
        padding: 20px 30px;
}
.threadFooter div.opt {
        display: inline;
        padding: 0px 20px 0px 0px;
}

#login_status {
        font-size: 12px;
        padding-bottom: 15px;
}

#style1 td.threadhead div.author, td.threadhead div.ts {
        color: grey;
        font-size: 11px;
}

#style1 tr.even td {
   background-color: #EEEEEE !important;
}

#style1 tr.hidden td {
   background-color: #EEEEEE;
}

#style1 td.lastpost {
   font-size: 13px;
}

#style1 td div.lp_author {
   padding-bottom: 3px;
}

div.icons {
     float: left;
     padding-right: 3px;
}
div.icons div.edPick, div.icons div.sticky {
     float: left;
}


.field {
       display: block;
   padding-bottom: 5px;
}

label {
       display: block;
       float: left;
      // width: 10em;
       text-align: right;
       margin-right: 5px;
}

textarea {
           border: 1px solid #9ac0cc;
             margin-bottom: 10px;
}
input.text {
           border: 1px solid #9ac0cc;
           margin-top: -3px;
           width: 12em;
}

input.submit, input.button {
             margin: 0px;
             background-color: #369fbf;
             color: #ffffff;
             border: 1px solid white;
}

div.button {
           cursor: pointer;
           margin: 0px 1px 10px 3px;
           padding: 2px 5px 1px;
           font-size: 13px;
}
div.button:hover {
           color: #770000;
}
div.threadFooter div.button {
           margin-left: 55px;
           float: left;
}
div.caption div.button {
           display: inline;
           margin-top: -5px;
}

div.caption input.submit {
            cursor: pointer;
            border: 1px solid #369fbf;
}

div.caption div.delete, div.caption div.split {
            border-right: 1px solid #000;
}
div.caption div.delete, div.caption div.split, div.caption div.moderate {
            margin: 0px 0px 0px 0px;
            padding-left: 6px;
            padding-right: 6px;
}

span.highlight {
     background: #FBFAAB;
}


div.actions {
           /* width: 100%;
            height: 20px;*/
            text-align: right;
/*            float: right;*/
}

div.popup {
          display: none;
          position: absolute;
          border: 1px solid black;
          background-color: #cce5ec;
          color: #000000;
          margin-left: auto;
          margin-right: auto;
          padding: 5px;
          width: 350px;
          text-align: center;
}

div.popup label {
          display: block;
          width: 120px;
          text-align: left;
}

div.popup div.title {
          text-align: center;
          margin-bottom: 10px;
}

div.popup input.submit {
          text-align: right;
}
div.popup input.button {
          margin-right: 10px;
}

form.onebutton {
	  display: inline;
}
td select {
    float: left;
}

form.search {
     width: 100%;
     text-align: right;
     padding-bottom: 0px;
     margin-bottom: 6px;
}

table.search div {
             display: block;
          text-align: left;
          font-size: 11px;
}


/* Search results page */
div.match_div {
     margin: 10px 0px;
}
div.threadbox {
      background: #F0EFEF;
      border: 1px dotted #157491;
      padding-bottom: 0px;
      padding-left: 5px;
      margin-bottom: 10px;
}
div.threadbox div.author {
     color: #082D38;
     font-size: 10pt;
     padding-bottom: 20px;
     display: block;
}

div.threadbox div.title {
      padding: 15px 0px 10px 10px;
      font-size: 14px;
}

div.threadbox div.content {
      background: white;
      border: 1px solid #157491;
      margin: -5px 15px 20px 10px;
      padding: 10px 5px 0px 5px;
}
div.threadbox div.ts {
     display: inline;
}

/* sitemap */
div.sitemap {
     padding: 5px;
     margin-left: 30px;
}

/* new thread/post */
form.newpost div.button {
     float: left;
}

.backbtn {
     clear: left;
     width: 100%;
     text-align: left;
     padding-top: 15px;
}

h1 {
      display: inline;
}
img.feed {
     padding: 3px 3px 0px 3px;
     margin-bottom: -2px;
     display: inline;
}


/* viewthread */

form.thread_action {
     display: inline;
}
div.topic_desc {
     color: grey;
     font-size: 14px;
}

div.subtopic_link a {
     cursor: pointer;
}
h1#forumtitle {
     display: block;
     padding-bottom: 10px;
     padding-top: 20px;
     margin-bottom: 0px;
}
h2#threadtitle {
     display: inline;
     font-size: 16px;
     padding-top: 15px;
     padding-bottom: 10px;
     margin-bottom: 4px;
}
textarea#ncontent {
     width: 100%;
}
div.paging {
     float: right;
}

table select {
      width: 10em;
}

input#search {
     border: 1px solid #157491;
     font-size: 11px;
     padding: 3px;
}

/* Dialog */

div#dlg div#dlg_h, div#editThreadDiv_h, div#splitterDiv_h {
     background: white;
     border-top: 1px dotted #157491;
     border-left: 1px dotted #157491;
     border-right: 1px dotted #157491;
     border-bottom: none;
}
div#dlg div.bd, div#editThreadDiv, div#splitterDiv {
     background: white;
     border-top: none;
     border-left: 1px dotted #157491;
     border-right: 1px dotted #157491;
     border-bottom: 1px dotted #157491;
}
div#dlg div.ft {
     display: none;
}
fieldset.dlg {
     border: 1px solid #157491;
     margin: 10px;
     padding: 20px 10px;
}
legend {
       font-size: 1.1 em;
}
div#dlg div.field, div#editThreadDiv div.field, div#splitterDiv div.field {
     padding-top: 5px;
     vertical-align: middle;
}
div#dlg label, div#editThreadDiv label, div#splitterDiv label {
     display: block;
     width: 100px;
     margin: 5px 0px 0px;
     padding: 0px;
     text-align: right;
     float: left;
}
div#dlg input.text, div#editThreadDiv input.text, div#splitterDiv input.text, div#splitterDiv select {
     border: 1px solid #157491;
     margin: 0px 0px 0px 10px;
     width: auto;
}
div#dlg input.check, div#editThreadDiv input.check, div#splitterDiv input.check {
     margin: 0px 10px 0px 10px;
     width: auto;
}
div#dlg div.btns, div#editThreadDiv div.btns, div#splitterDiv div.btns {
     padding-top: 10px;
     float: right;
}

