html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
	margin:0;
	padding:0;
}

body {
 	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: helvetica, arial, sans-serif;
	font-size:85%;
	color: #333;
}

div, p, ul, ol {
	font-size: 100%;	
}

h1, h2, h3, h4, p, ul, ol, dl {
	margin-top: 1em; 
	line-height: 1.4em;
}

h1 {
	padding-bottom: 0;
	font-size: 182%;
	font-weight: normal;
}

h2 {
	font-size: 131%;
	font-weight: normal; 
}  

h3 {
	font-size: 108%;
}  

h4 {
	font-size: 100%;
}  

p.byline {
	margin-top: 0;
	font-size: 108%;
	font-style: italic;
}

p.post-date {
	margin-top: 0;
}

hr {
	margin: 1em 0 2em 0;
	width: 100%;
	border: 0;
	height: 1px;
	color: #ddd;
	background-color: #ddd;
}

div.hr hr {
	display: none;
}

ul, ol {position: relative; }

ul, ol {
	margin-left: 1em;
}

ul li {
  padding-left: 1em;
  list-style-type: disc;
  background-repeat: no-repeat;
}

ul li ul, ul li ol {
	margin-left: 0;
	padding-bottom:0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

/* Blog Entry */

div.entry-content {
	margin-bottom: 3em;
}

div.category-list {
	margin-bottom: 3em;
}

/* Search */

form.search p {
	padding-top: 2em;
}

/* Comments */

#comments h2 {
	margin-top: 3em;
	margin-bottom: 0;
	padding-bottom: 4px;
	font-size: 131%;
	font-weight: normal;
}

#comments h3 {
	margin-top: 0;
	padding-bottom: .5em;
}

#comments h3.user-admin {
	color: red;
}

#comments .num-comment {
	font-weight: bold;
}

#comments div.container {
	padding: .5em;
}

#comments div.comments {
	padding: .5em 0 0 0;
	border-top: 1px solid #ddd;
}

#comments div.comments input.text {
	width: 50%;
}

#comments div.comments textarea {
	margin-bottom: 6px;
	width: 100%;
}

#comments div.zebra {
	background-color: #eee;
}

#comments p {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

/* Right Column */

#blog-right h2 {
	margin-top: 2em;
	border-bottom: 1px solid #ddd;
}

#blog-right p {
	margin-top: 0;
	background-image: none;
}

#blog-right a, #blog-right a:visited {
	display:block;
	padding: 4px;
	color: #666;
	font-weight: normal;
	border-bottom: none;
}

#blog-right a:hover {
	display:block;
	color: #333;
	background-color: #eee;
	font-weight: normal;
}

/* Special Styling for image within post-snippet */

div.post-snippet img {
    max-width: 150px;
    max-height: 120px;
    float: left;
    padding: 10px;
}

div.post-snippet a:hover {
	border: none;
}

/* Powered by 10gen footer */

#blog-footer {
	padding-top: 4em; 
	padding-bottom: 2em;
}

#blog-footer p {
	padding-top: .5em;
	border-top: 1px solid #ddd;
	text-align: left;
	color: #aaa;
	font-size: 93%;
	margin-top: 100px;
}

/* Layout - By Default set to 950px centered, 600px left, 50px gutter, 300px right */

#blog-main, #blog-footer {
	margin: 0 auto;
	width: 950px; 
	clear: both;
}

#blog-left {
    margin: 0;
	width: 600px;
	float:left;
}

#blog-right {
	margin: 0; 
	width: 300px;
	float: right;
}
