/**********************
 *
 * 10Gen Blog Library
 * 
 * Admin CSS
 * 
 * Author: Dana Spiegel (dana@10gen.com)
 *********************/

h1 {
    font-weight: bold;
    font-size: 2em;
    padding: 5px;
}

div#post_action {
    padding: 10px;
    margin: 5px;
    background: #ffd;
}

div#post_title {
    margin: 5px;
}

div#post_body {
    margin: 5px;
}

div#post_meta {
    margin: 5px;
    padding: 10px 0px;
    border-top: 1px solid #ccc;
}

div.post_meta_field {
    margin: 5px;
    clear: both;
}

div.post_meta_field_name {
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
    float: left;
    width: 150px;
    margin: 5px;
}

div.post_meta_field_value {
    float:left;
    margin: 5px;
}