.wiki {
	font-family: sans-serif;
	font-size: 100%;
}

.wiki blockquote {
	border-left: solid 2px #333;
	margin: 5px;
	padding: 5px;
}

pre {
    font-family: monospace;
    font-size: 100%;
    overflow: auto;
    margin-bottom: 10px;
    padding-left: 20px;
}

.wiki_content ul {
#    padding-left: 10px;
}

.u { font-size:100%; }
.uu { font-size:75%; }

.wiki table {
    border: solid 1px #ddd;
	border-collapse: collapse;
}

.wiki table td {
  border: solid 1px #ddd;
  margin: 5px;
}

.wiki table th {
    background: #333;
    color: #fff;
  border: solid 1px #ddd;
  padding: 5px;
}

.wiki .help {
	font-size: 70%;
	background: #ddd;
	border: 1px solid #ddd;
	padding: 5px;
	overflow: auto;
}

.wiki .user {
    float: right;
}

.wiki .top {
	background: #ddb;
}

.wiki h1 {
	font-weight: bold;
	font-size: 130%;
	margin-top: 20px;
	color: #1C4692;
}

.wiki h2 {
	font-weight: bold;
	font-size: 120%;
	margin-top: 10px;
}

.wiki h3 {
	font-weight: bold;
	font-size: 110%;
	margin-top: 5px;
}

.wiki .content {
    border: 1px solid #ddd;
    padding: 5px;
}

.wiki #rename_popup, .wiki #delete_popup {
    visibility: hidden;
}

.wiki textarea {
    width: 100%;
}

/* Layout */

#container {
	width: 975px;
	margin: 0 auto;
}

#nav {
	width: 825px;
}

#nav ul {
	margin: 84px 0 0 183px;
}

#maincontent {
	width: 825px; 
}

