.wiki {
	font-family: sans-serif;
	font-size: 100%;
}

.wiki blockquote {
	border-left: solid 2px #333;
	margin: 5px;
	padding: 5px;
}

pre {
	background-color: #e7e7e7;
    font-family: monospace;
    font-size: 100%;
    line-height: 130%;
    margin: 0.7em 1em 1em 1em;
    padding: .5em .5em .5em 1em;
}

.wiki_content ul {
#    padding-left: 10px;
}

.u { font-size:100%; }
.uu { font-size:75%; }

.wiki .help {
	font-size: 70%;
	background: #ddd;
	border: 1px solid #ddd;
	padding: 5px;
	overflow: auto;
}

.wiki .user {
    float: right;
}

.wiki .top {
	background: #ddb;
}

.wiki h1 {
	font-weight: bold;
	font-size: 130%;
	margin-top: 20px;
	color: #1C4692;
}

.wiki h2 {
	font-weight: bold;
	font-size: 120%;
	margin-top: 10px;
}

.wiki h3 {
	font-weight: bold;
	font-size: 110%;
	margin-top: 5px;
}

.wiki .content {
    border: 1px solid #ddd;
    padding: 5px;
}

.wiki #rename_popup, .wiki #delete_popup {
    visibility: hidden;
}

.wiki textarea {
    width: 100%;
}

#wiki .search {
    float: right;
	padding: 0 0 1em 1em;
}

.content p {
	margin: 1em 0 0 0;
	padding: 0;
}

/* Layout */

/*

#container {
	width: 840px;
	margin: 0 auto;
}

#nav {
	width: 690px;
}

#nav ul {
	margin: 84px 0 0 125px;
}

#maincontent {
	width: 825px;
}

*/
